@{
    @model CPMS.Models.ReviewModel
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h4>ReviewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddReviewData">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PaperID" class="control-label"></label>
                <select asp-for="PaperID" class="form-control">
                    @{
                        foreach(PaperModel paper in ViewBag.papers)
                        {
                            <option value="@paper.PaperID">@paper.PaperID</option>
                        }
                    }
                </select>
                <span asp-validation-for="PaperID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewerID" class="control-label"></label>
                <select asp-for="ReviewerID" class="form-control">
                    @{
                        foreach(ReviewerModel reviewer in ViewBag.reviewers)
                        {
                             <option value="@reviewer.ReviewerID">@reviewer.ReviewerID</option>
                        }
                     }
                </select>
                <span asp-validation-for="ReviewerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
