@{
    @model CPMS.Models.DefaultModel
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h4>Enable/Disable Author and Reviewer</h4>
<hr />
<div class="enable-disable-styles">
    <form asp-action="SetDefaultTable">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="EnableAuthors" class="control-label"></label>
            <select asp-for="EnableAuthors" class="form-control">                       
                        <option value="true">Enable</option>
                        <option value="false">Disable</option>
            </select>
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EnableReviewers" class="control-label"></label>
            <select asp-for="EnableReviewers" class="form-control">
                <option value="true">Enable</option>
                <option value="false">Disable</option>
            </select>
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
