
@{
    ViewData["Title"] = "Report";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>Report</h1>

<div class="report-buttons">
    <a asp-action="ScoreReport" asp-controller="Admin"><div class="button author-sign-up-button">Score report</div></a>
    <a asp-action="AuthorReport" asp-controller="Admin"><div class="button reviewer-sign-up-button">Author report</div></a>
    <a asp-action="ReviewerReport" asp-controller="Admin"><div class="button author-sign-up-button">Reviewer report</div></a>
    <a asp-action="CommentReport" asp-controller="Admin"><div class="button reviewer-sign-up-button">Comment report</div></a>
</div>