<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CPMS</title> 
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <ul class="navbar-ul">
                <li class="navbar-li brand"><a asp-controller="Home" asp-action="Index">CPMS</a></li>
                <li class="navbar-li"><a asp-controller="Home" asp-action="TableMaintenance">Table Maitenance</a></li>
                <li class="navbar-li"><a asp-controller="Home" asp-action="BridgeTableMaintenance">Bridge Table Maitenance</a></li>
                <li class="navbar-li"><a asp-controller="Home" asp-action="Report">Report</a></li>
                <li class="navbar-li login-btn"><a asp-controller="Login" asp-action="Index">Login</a></li>
            </ul>
        </nav>
    </header>

    <div class="main-container">
        @RenderBody()
    </div>

    <footer class="footer">
        <br />
        <br />
        <br />
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
