@model CPMS.Models.AuthorModel
@{
    ViewData["Title"] = "RetrievePassword";
    Layout = "~/Views/Shared/Login_Layout.cshtml";
}

<div class="full-screen-container">
    <div class="login-container">
        <h4>Enter Your Email</h4>
        <hr />
        <form asp-action="SendPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

