@{
    Layout = "~/Views/Shared/Reviewer_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<h1>Your right to submit reviews has been removed!</h1>
<h2>Contact the admin to renable your right to submit reviews.</h2>

