@{
    Layout = "~/Views/Shared/Reviewer_Layout.cshtml";
    string[] TableHeaders = new string[] {
         " "
        ,"Paper Title"
        };
}

<br />
<br />
<br />
<br />
<h1>Hello</h1>


<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                @{
                    foreach (var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }
                }
            </tr>
        </thead>

        <tbody>
            @{
                if (Model != null)
                {
                    int i = 0;
                    foreach (var Data in Model)
                    {
                        
                        <tr>
                            <td><a asp-controller="Reviewer" asp-action="openReview" asp-route-ReviewID="@Data.ReviewID" asp-route-ReviewerID="@Data.ReviewerID">Review Paper</a></td>
                            <td><a href="~/static/@ViewBag.list[i].FilenameOriginal" target="_blank">View Paper</a></td>
                        </tr>
                        i++;
                    }
                }
            }
        </tbody>
    </table>
</div>

<br />
<br />
