
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<!-- two centered buttons for sign up as reviewer and sign up as author-->
 <br />
 <br />
 <br />
 <br />
 

<a asp-action="RegisterAuthor" asp-controller="SignUP"><div class="button author-sign-up-button">Author sign up</div></a>
<a asp-action="RegisterReviewer" asp-controller="SignUp"><div class="button reviewer-sign-up-button">Reviewer sign up</div></a>

