
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<!-- two centered buttons for sign up as reviewer and sign up as author-->
 <br />
 <br />
 <br />
 <br />
 
 <div class="sign-up-button">
    <a class="button author-sign-up-button" asp-action="RegisterReviewer" asp-controller="SignUp">Reviewer sign up</a>
</div>

<div class="sign-up-button">
    <a class="button author-sign-up-button" asp-action="RegisterAuthor" asp-controller="SignUP">Author sign up</a>
</div>


